.nav-bar {
    width: 80%;
    height: 48px;
    display: -webkit-flex;
    display: flex;
    margin-top: 10px;
}
.nav-bar.columnL{
    padding: 10px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    justify-content: flex-start;
    margin-left: 12px;
}
.nav-bar.columnR{
   
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    justify-content: flex-end;
    margin-right: -8px;

}

.nav-links {
    height: 48px;
    align-items: center;
    display: flex;
}

.nav-link-ind {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;
    padding-right: 15px;
    padding-top: 4px;
}

.nav-linkL {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    font: 14px/27px Roboto, RobotoDraft, Arial, sans-serif;
    padding-right: 25px;
    padding-top: 4px;
    margin-left: -5px;
    
}

.nav-linkL:hover {
    text-decoration: underline;
}


.nav-text {
    font-family: arial, sans-serif;
    line-height: normal;
    
}

.nav-link-ind:hover {
    text-decoration: underline;
}

.nav-images {
    background-size: 32px 32px;
    border-radius: 50%;
    border: 3px solid transparent;
    display: block;
    margin: 0 10px 0 5px;
    position: relative;
    height: 22px;
    width: 24px;
    z-index: 0;
    padding: 4px;

}

.nav-images:hover {
    background-color: rgba(60,64,67,0.08);
    border: 3px solid rgba(60,64,67,0.08);
}

.nav-account {
    background-size: 32px 32px;
    border-radius: 50%;
    display: block;
    position: relative;
    height: 32px;
    width: 32px;
    z-index: 0;
    padding: 4px;
    margin-top: -3px;
    margin-right: 15px;
}

.nav-account:hover {
    background-color: rgba(60,64,67,0.08);
}
.mainlogo {
    height: 92px;
    aspect-ratio: auto 272 / 92;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
    margin-top: auto;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.search-area {
    padding: 20px;
    max-height: 160px;
    box-sizing: border-box;
    display: block;
}

.searchbox {
    background-color: #fff;
    background-image: url("../images/google_search.svg");
    background-position: 15px 14px;
    background-size: 20px;
    background-repeat: no-repeat;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 40%;
    min-width: 400px;
    padding-left: 50px;
}

.searchbox:hover{
    background-color: #fff; 
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

.searchbox:focus-visible{
    outline: none;
}

.search-buttons {
    height: 70px;
    padding-top: 18px;
    display: flex;
    justify-content: center;

}

.search-button-ind {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

.search-button-ind:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}
.bottom {
    display: flex;
}

.underSearch {
display: flex;
font: small Arial, sans-serif;
text-decoration: none;
color: #1a0dab;
justify-content: center;
margin-bottom: 32px;
flex-grow: 1;
;}

footer {
    background: #f2f2f2;
     justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    margin: 0;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    box-sizing: border-box;

}
.flexbottom {
    display: flex;
    width: 100%;
   
}

footer .footernavL {
    justify-content: flex-start;
    min-width: 30%;
    order: 0;
    display: flex;
}

footer .footernav {
    order: 1;
    width: 100%;
    justify-content: center;
    display: flex;
}

footer .footernavR {
    justify-content: flex-end;
    min-width: 30%;
    order: 2;
    display: flex;
    
}

footer .nav-bottom {
    display: block;
    padding: 15px;
    white-space: nowrap;
    font: 14px/27px Roboto, RobotoDraft, Arial, sans-serif;
    text-decoration: none;
    color: #70757a;
}

footer .nav-bottom:hover {
    text-decoration: underline;
}

.eco-icon {
    height: 15px;
    width: auto;
    padding-right: 5px;
}